<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}{{#if title}} - {{/if}}Public Mobile Referrals</title>
		<meta name="Public Mobile Referrals">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
	</head>

	<body class = "bg-color">
		<div class = "container">
			<div class = "row top-space">
				<div class = "two-thirds column">
					<a title = "Go to home page" href = "/"><img src = "/images/favicon.png"></img></a>
					<span style = "position: relative; bottom: 10px; text-decoration: none;">
						<a href = "/" class = "left-space pmblue title">Get a referral</a>
						<a href = "/stats" class = "left-space pmblue title">Statistics</a>
						<a href = "/faq" class = "left-space pmblue title">FAQ</a>
					</span>
				</div>
			</div>
		</div>
		<div id = "nojs" class = "container top-space failure-panel">
			<center>
				<b>This website requires Javascript. Please make sure it's enabled!</b>
			</center>
		</div>
		<script>
			document.getElementById('nojs').style.display = "none";
		</script>
		{{{body}}}
		<div class = "container large-top-space bottom-space">
			<i>
				PMReferrals.ca is a third-party tool and is not affiliated with Public Mobile.
				If you have any questions or concerns, email <a href = "mailto:admin@pmreferrals.ca">admin@pmreferrals.ca</a>.
			</i>
		</div>
	</body>

</html>