<html>
	<head>
		<meta charset="utf-8">
		<title>Public Mobile Referrals</title>
		<meta name="Public Mobile Referrals">
		<link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>

	<body class = "bg-color">
		<div class = "container">
			<a href = "/">
				<img class = "u-max-full-width" src = "/images/logo.png"></img>
			</a>
		</div>
		{{{body}}}
	</body>

</html>