<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}{{#if title}} - {{/if}}PMReferrals</title>
		<meta name="Public Mobile Referrals">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>

	<body class = "bg-color">
		<div class = "container">
			<div class = "row top-space">
				<div class = "column">
					<a title = "Go to home page" href = "/"><img class = "u-max-full-width" src = "/images/logo2.png"></img></a>
					<span class = "left-space large title">MOBILE REFERRALS</span>
				</div>
			</div>
		</div>
		{{{body}}}
		<div class = "container large-top-space bottom-space">
			<i>
				PMReferrals.ca is a third-party tool and is not affiliated with Public Mobile. 
				We do not store user information unless otherwise specified. 
				Please read our <a href = "/faq">FAQ</a> for privacy information and more.
			</i>
		</div>
	</body>

</html>