<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}{{#if title}} - {{/if}}PMReferrals</title>
		<meta name="Public Mobile Referrals">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	</head>

	<body class = "bg-color">
		<div style = "margin-top: 120px; padding-bottom: 60px;">
			{{{body}}}
		</div>
		<div class = "header">
			<a title = "Go to home page" href = "/"><img class = "u-max-full-width" src = "/images/logo.png"></img></a>
			<div style = "font-size: 20px; float: right; margin-right: 25px; margin-top: 10px; padding: 10px;" class = "">
				<a title = "More information" target = "_blank" href = "/faq"><b>?</b></a>
			</div>
			<br>
		</div>
	</body>

</html>