<html>
    <p>Your Public Mobile referral is</p>
    <h4>{{area}} {{prefix}} {{line}}</h4>
    <p>Activate your sim card <a href = "https://activate.publicmobile.ca">here</a> and enter the number above when prompted. Thanks for using PMReferrals.ca!</p>
</html>