<html>
    <h4>Your Public Mobile referral is</h4>
    <p>{{area}} {{prefix}} {{line}}</p>
    <p>Activate your sim card <a href = "https://activate.publicmobile.ca">here</a> and enter the number above when prompted. Thanks for using PMReferrals.ca!</p>
</html>