<html>
    <p>Your Public Mobile number was sent to <i>{{email}}</i>.</p>
    <p>You should see it appear in the rewards page of your Public Mobile self serve account within a few days.</p>
    <p>If not, your referral was either not used, or something else went wrong when they activated their SIM card.</p>
    <p>It's out of our hands now. Fingers crossed!</p>
    <p>Thanks for using PMReferrals!</p>
</html>