<div class = "container" style = "margin-top: 5%">
    <h3>FAQ</h3>
    <b>Who can see my phone number?</b><br><br>
    Every time someone requests a referral, a phone number is randomly selected from the database and sent privately in an email to the requester.
    The email addresses are validated so that disposable or spam addresses are not used. Each email address can only be used once to request a referral.
    This is to prevent bots from simply requesting all phone numbers in the database. 
    <br><br><i>When your phone number is sent to someone, you will receive a notification with their email address. This keeps the information sharing balanced for both parties involved.</i>
    <br><br>
    <b>Is my information used for anything else?</b><br><br>
    Nope. Your phone number is only used for the above purpose, and emails are collected only to send occasional reminders and notifications.
    <br><br>
    <b>Can I change or remove my information?</b><br><br>
    Yes, you can change <b>or delete</b> your phone number and email address from this website at any time. Just check the email you received when you added your number.
</div>