<div class = "container large-top-space">
        <div class = "row bottom-space">
            <span class = "large title">What is this website for?</span>
        </div>
        <div class = "row bottom-space panel">
            This website is a tool to help people find referrals to use when signing up for Public Mobile or Koodo. Both providers
            offer promotional bonuses to those who give out codes or use a code when signing up for the service.
        </div>
        <div class = "row bottom-space">
            <span class = "large title">How do I use it?</span>
        </div>
        <div class = "row bottom-space panel">
            If you're looking for a referral code, you can find them on the home page. If you are already a cellular customer and want people to use your referral
            code, click the green button up top to submit it to our database!
        </div>
        <div class = "row bottom-space">
            <span class = "large title">Are these codes legitimate?</span>
        </div>
        <div class = "row bottom-space panel">
            Yes, they're submitted by our users and verified by the cellular provider they belong to.
        </div>
        <div class = "row bottom-space">
            <span class = "large title">Why are the codes only half visible?</span>
        </div>
        <div class = "row bottom-space panel">
            This is to ensure that bad codes are cleaned up automatically. When you click the copy
            button it verifies the code again behind the scenes, then directs you to the full referral
            so you can use it.
            <br><br>
            If the code is found to be invalid, it is removed from our database and you are redirected
            back to the main page.
        </div>
        <div class = "row bottom-space">
            <span class = "large title">How do you verify a referral code?</span>
        </div>
        <div class = "row bottom-space panel">
            We scrape this data from the code's referral URL for the cellular provider it belongs to.
            It's pretty fool-proof, but if you find one that our system doesn't catch, please send us an email
            so we can figure out why. It's at the bottom of the page.
        </div>
        <div class = "row bottom-space">
            <span class = "large title">Do you collect any personal information?</span>
        </div>
        <div class = "row bottom-space panel">
            We don't need to. All we need are the codes. We have no cookies and will never ask for emails or phone numbers.
        </div>
</div>