<div class = "container large-top-space">
    <h3>FAQ</h3>
    <b>What is this website for?</b><br><br>
    This website is a tool to help people find referrals to use when signing up for Public Mobile. They receive a $10 credit by doing so. It is also a tool to help
    existing Public Mobile customers collect referrals, since they receive $1 off their monthly bill for every new referral they are responsible for.<br><br>
    <b>How do I use it?</b><br><br>
    To use this website, go to the <a href = "/">home page</a> and click one of the buttons. You can either enter your email address to get a randomized referral number, or
    add your phone number to the database to be eligible for referral rewards. There are also options to change or delete information you've registered on this website.<br><br>
    <b>Who can see my information?</b><br><br>
    Your email address is shown to the owner of the referral number you receive from this website. When someone requests a referral and your number is randomly selected from the database,
    it will be shown to the requester. Otherwise, only people with the link to your account page can see your information. You are sent to your account page after registering your phone number.<br><br>
    All email addresses are validated to prevent spam or disposable addresses from being used. Only one referral can be requested per email address.
    <br><br>
    <b>Is my information used for anything else?</b><br><br>
    Nope. Your phone number is only used for the above purpose, and emails are collected only to send occasional reminders and notifications.
    <i>Note: I might try experimenting with SMS notifications, but it will be an opt-in feature if I ever implement it.</i>
    <br><br>
    <b>Can I change or remove my information?</b><br><br>
    Yes, you can change <b>or delete</b> your phone number and email address from this website at any time.
</div>