<div class = "container large-top-space panel">
    <div class = "container top-space bottom-space">
        <span class = "large title">FAQ</span>
        <br><br>
        <b>What is this website for?</b><br><br>
        This website is a tool to help people find referrals to use when signing up for Public Mobile. They receive a $10 credit by doing so. It is also a tool to help
        existing Public Mobile customers collect referrals, since they receive $1 off their monthly bill for every new referral they are responsible for. 
        Members will also get a custom URL so they can share their referral online without posting their phone number in public.
        <br><br>
        <b>How do I use it?</b><br><br>
        If you're looking for a referral code to get $10 off your first month on Public Mobile, you can find them here.
        Just copy them from the main page. If you are already a Public Mobile customer and want people to use your referral
        code, click the green button up top to submit it to our database!
        <br><br>
        <b>Are these codes real?</b><br><br>
        Yes, they're submitted by our users and verified through Public Mobile.
        <br><br>
        <b>Why are the codes only half visible?</b><br><br>
        When you click the copy button on the main page, our website will verify the code with Public Mobile
        and delete it if the code is no longer valid (say, if a customer deleted their account).
        <br><br>
        <b>Do you collect any information about me?</b><br><br>
        Nope. We don't require any personal information, and we don't keep any logs. Your codes are anonymous.
    </div>
</div>