<div class = "container large-top-space">
    <h3>FAQ</h3>
    <b>What is this website for?</b><br><br>
    This website is a tool to help people find referrals to use when signing up for Public Mobile. They receive a $10 credit by doing so. It is also a tool to help
    existing Public Mobile customers collect referrals, since they receive $1 off their monthly bill for every new referral they are responsible for. 
    Members will also get a custom URL so they can share their referral online without posting their phone number in public.
    <br><br>
    <b>How do I use it?</b><br><br>
    You can either enter your email address to get a randomized referral number, or register your Public Mobile number to be eligible for automatic referral rewards. 
    If you want to delete your information from this website, you can do that too.<br><br>
    <b>Who can see my information?</b><br><br>
    Your email address is shown to the owner of the referral number you receive from this website. When someone requests a referral and your number is randomly selected from the database,
    it will be shown to the requester. Otherwise, only people with the link to your account page can see your information. You are sent to your account page after registering your phone number.<br><br>
    All email addresses are validated to prevent spam or disposable addresses from being used. Only one referral can be requested per email address.
    <br><br>
    <b>Is my information used for anything else?</b><br><br>
    Nope. Your phone number is only used for the above purpose, and emails are collected only to send occasional reminders and notifications.
    You need to verify both your email and your phone number before you can collect referrals, but that's it!
    <br><br>
    <b>Can I change or remove my information?</b><br><br>
    Yes, you can change <b>or delete</b> your phone number and email address from this website at any time.
    <br><br>
    <b>Is it open-source?</b><br><br>
    Yes! You can view the source code on Github by clicking <a href = "https://github.com/jsbrn/pmreferrals">here</a>.
</div>