<div class = "container" style = "margin-top: 5%">
    <h3>Welcome to PMReferrals.ca</h3>
    <b>Get a referral code for a new Public Mobile account, OR</b><br>
    <b>add your number to get referral rewards on your existing account.</b>
</div>
<div class = "container" style = "margin-top: 3%">
    <h4>What would you like to do?</h4>
    <div class = "row">
        <a href = "/referral" class = "button confirm">Get a referral number</a>
        <a href = "/join" class = "button">Add my number to the list</a>
    </div>
</div>

<!--Footer-->
<div class = "container bottom-space" style = "margin-top: 10%">
    <a href = "https://openode.io" target = "_blank"><img style = "padding-right: 10px" title = "Hosted by Openode" src = "/images/openode.png"></img></a>
    <img title = "Made in Canada" src = "/images/flag.png"></img>
    <br>
    <a target = "_blank" href = "/faq">FAQ</a>
    <a target = "_blank" href = "https://github.com/jsbrn/pmreferrals">Source Code</a>
</div>