<div class = "container large-top-space">
    {{#if successful_addition}}
        <div class = "row bottom-space success-panel">
            <center>
                <b>Your code was successfully added! Keep an eye out for those referral bonuses.</b>
            </center>
        </div>
    {{/if}}
    {{#if redirect}}
        <div class = "row bottom-space info-panel">
            <center>
                <b>Whoops! The code <span class = "code">{{bad_code}}</span> is no longer valid. Don't worry, it's been removed. Try again?</b>
            </center>
        </div>
    {{/if}}

    <div class = "row bottom-space">
        <span class = "large title">Get a referral code</span>
        <br>
        Click the copy button (<img style = "position: relative; top: 3px;" width = "14px" src = "/images/copy.png"></img>) next to the code you want.
    </div>
    {{#each codes as |row|}}
        <div class = "row bottom-space">
        {{#each row as |code|}}
            <div class = "one-third column card bottom-space">
                <span class = "large code">{{code.value}}<span class = "censored">###</span></span>
                <span class = "left-space"></span>
                {{#if code.priority}}<img title = "Verified by PMReferrals.ca" src = "/images/verified.png"></img>{{/if}}
                <a href = "/referral/{{code.url}}">
                    <img title = "Copy referral code" src = "/images/copy.png"></img>
                </a>
            </div>
        {{/each}}
        </div>
    {{/each}}
</div>

