<div class = "container large-top-space">
    <div class = "row bottom-space">
        <span class = "large title">Submit your referral code:</span>
        <input></input>
    </div>
    {{#if redirect}}
        <div class = "row bottom-space info-panel">
            <center>
                <b>Whoops! The code <span class = "code">{{bad_code}}</span> is no longer valid. It's been removed. Try again?</b>
            </center>
        </div>
    {{/if}}
    {{#each codes as |row|}}
        <div class = "row bottom-space">
        {{#each row as |code|}}
            <div class = "one-third column card bottom-space">
                <span class = "large code">{{code.value}}<span class = "censored">###</span></span>
                <span class = "left-space"></span>
                {{#if code.priority}}<img title = "Verified by PMReferrals.ca" src = "/images/verified.png"></img>{{/if}}
                <a href = "/referral/{{code.url}}">
                    <img title = "Copy referral code" src = "/images/copy.png"></img>
                </a>
            </div>
        {{/each}}
        </div>
    {{/each}}
</div>

