<div class = "container large-top-space">
    <div class = "row bottom-space">
        <span class = "large title">Verified Referral Codes</span>
        <br>
        <i>
            These codes have been verified as genuine by PMReferrals.ca.
            <a target = "_blank" href = "/faq">Verify my referral code</a>
        </i>
    </div>
    {{#each verified as |row|}}
        <div class = "row bottom-space">
        {{#each row as |card|}}
            <div class = "one-third column card bottom-space">
                <span class = "large code">{{card.value}}<span class = "censored">###</span></span>
                <span class = "left-space"></span>
                <img title = "Verified by PMReferrals.ca" src = "/images/verified.png"></img>
                <img title = "Copy referral code" src = "/images/copy.png"></img>
            </div>
        {{/each}}
        </div>
    {{/each}}
    <div class = "row bottom-space">
        <span class = "large title">Other Referral Codes</span>
        <br>
        <i>
            These codes have not been verified, but they haven't been reported to us as broken.
            If you find one that doesn't work, please report it so it can be removed.
        </i>
    </div>
    {{#each unverified as |row|}}
        <div class = "row bottom-space">
        {{#each row as |card|}}
            <div class = "one-third column card bottom-space">
                <span class = "large code">{{card.value}}<span class = "censored">###</span></span>
                <span class = "left-space"></span>
                <img title = "Copy referral code" src = "/images/copy.png"></img>
            </div>
        {{/each}}
        </div>
    {{/each}}
</div>

