<div class = "container" style = "margin-top: 5%">
    <h4>Add your Public Mobile number as a referral</h4>
    <p>Your number will have a chance to be used by people signing up for Public Mobile. 
        You will recieve $1 in monthly credits for each new referral from your number.
        Go <a target = "_blank" href = "https://www.publicmobile.ca/en/on/get-help/articles/the-refer-a-friend-reward">here</a> to learn more.</p>
    <p>You will be reminded every month to confirm that you are still a Public Mobile customer. 
        Your email is required for this. We will not send anything beyond reminders and account notifications.
    </p>
    <p>If you'd like, you can <a target = "_blank" href = "/faq">read more about how your number is used</a>. <i>You can remove it from the list at any time.</i></p>
    <p><b>Don't add your phone number if you are not comfortable with strangers seeing it!</b></p>
    <div class = "row">
        <form id = "join_form" action = "/api/submit_join">
            <input id = "area" maxlength = "3" size = "3" type = "text" placeholder = "555"></input>
            <input id = "prefix" maxlength = "3" size = "3" type = "text" placeholder = "555"></input>
            <input id = "line" maxlength = "4" size = "4" type = "text" placeholder = "5555"></input>
            <br>
            <input id = "email" type = "text" placeholder = "Your email"></input>
        </form>
        <div id = "error" class = "failure-panel bottom-space"></div>
        <button id = "submit" onclick = "post()" class = "confirm">Submit your number</button>
        <a href = "/" class = "button">Go back</a>
    </div>
</div>

<script>

    $("#error").hide();

    function post() {
        $.ajax({
            url: '/api/submit_join',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                area: $("#area")[0].value,
                prefix: $("#prefix")[0].value,
                line: $("#line")[0].value,
                email: $("#email")[0].value
            }),
            success: function(data, status) {
                console.log(data, status);
                if (data.redirect)
                    window.location.href = "/user/"+data.message;
                else error(data.message);
            }
        });
    }

    function error(message) {
        if (message == undefined || message.length <= 0) { 
            $("#error").fadeOut(50); 
        } else {
            $("#error").fadeOut(50).fadeIn(100);
            $("#error").text(message);
        }
    }

</script>