<div class = "container large-top-space">
    <center>
        <div class = "row bottom-space">
            <img width = "200px" src = "/images/maintenance.png"></img>
        </div>
        <div class = "row bottom-space">
            <span class = "large title center">{{message}}</span>
        </div>
        <div class = "row bottom-space">
            <span class = "code">{{submessage}}</span>
        </div>
    </center>
</div>