<div class = "container" style = "margin-top: 5%">
    <h4>What's your email?</h4>
    <p>Your referral number will be sent to this address.
        Your email will not be stored in our database, but the owner of the number will see it.
    </p>
    <div class = "row">
        <form id = "referral_form">
            <input size = "32" type = "text" placeholder = "example@example.com"></input>
        </form>
        <button class = "confirm" type="submit" form="form1" value="submit">Get referral</button>
        <a href = "/" class = "button">Go back</a>
    </div>
</div>