<div class = "container" style = "margin-top: 5%">
    <h4>Enter your email</h4>
    <p>Your referral number will be sent to this address. The owner of the phone number will be notified of the referral.</p>
    <div class = "row">
        <form id = "referral_form">
            <input id = "email" size = "28" type = "text" placeholder = "example@example.com"></input>
        </form>
        <div id = "error" class = "failure-panel bottom-space">Test</div>
        <button id = "submit" onclick = "post()" class = "confirm" type="submit" form="form1" value="submit">Get referral</button>
        <a href = "/" class = "button">Back to home page</a>
        <br>
        <script type="text/javascript"> //<![CDATA[
            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
            //]]></script>
        <script language="JavaScript" type="text/javascript">
            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
        </script>
    </div>
</div>

<script>

    $("#error").hide();

    function post() {
        $("#submit")[0].innerHTML = "Working...";
        $.ajax({
            url: '/api/request_referral/{{referral_code}}',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                email: $("#email")[0].value
            }),
            success: function(data, status) {
                console.log(data, status);
                if (data.redirect) window.location.href = "/success"; else error(data.message);
                if (!data.redirect) $("#submit")[0].innerHTML = "Get referral";
            }
        });
    }

    function error(message) {
        if (message == undefined || message.length <= 0) { 
            $("#error").fadeOut(50); 
        } else {
            $("#error").fadeOut(50).fadeIn(100);
            $("#error").text(message);
        }
    }

</script>