<div class = "container large-top-space">
    <div class = "row bottom-space">
        <span class = "large title">Sign up for PMReferrals.ca</span>
    </div>
    <div class = "row bottom-space">
        <span>
            Add your referral code to our list and start lowering your phone bill!
            <br>
            You can have a look at our <a target = "_blank" href = "/privacy">privacy statement</a> here.
            <br>
            By registering, you confirm that you have read, understand and accept the statement as is.
        </span>
    </div>
    <div class = "row bottom-space">
        <div class = "one-half column">
            <div class="row">
                <!--select length = "4444" id = "carrierChooser" class = "u-full-width">
                    {{#each carrier_options}}
                        <option value = "{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select-->
                <input class="u-full-width" type="text" placeholder="Username" id="usernameInput">
                <input class="u-full-width" type="password" placeholder="Password" id="passwordInput">
                <input class="u-full-width" type="text" placeholder="Referral code" id="codeInput">
                <div id = "errorMessage" class = "failure-panel top-space bottom-space"></div>
            </div>
            <div class = "row">
                <button id = "submitButton" class = "confirm button">Sign up</button>
            </div>
        </div>
    </div>
</div>

<script>

    $('#submitButton').click(submit);
    $('#codeInput').keypress(keyUp);
    $('#usernameInput').focus();
    $('#errorMessage').hide();

    function keyUp(event) {
        if (event.keyCode == 13) submit();
    }

    function submit() {
        $("#submitButton").html("Please wait...");
        $("#errorMessage").hide();
        $.ajax({
        'url':'/register',
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({
            "username": $("#usernameInput").val(),
            "password": $("#passwordInput").val(),
            "code": $("#codeInput").val()
         }),
         'processData': false,
         'success': function (data, status) {
             if (!data.success) {
                $("#errorMessage").html(data.reason);
                $("#errorMessage").show();
                $("#submitButton").html("Sign up");
             } else {
                 window.location.href = "/account";
             }
         }
      });
    }

</script>

