<div class = "container large-top-space">
    {{#if invalid}}
        <div class = "row bottom-space failure-panel">
            <center>
                <b><span class = "code">{{bad_code}}</span> is not a valid referral code. Try again!</b>
            </center>
        </div>
    {{/if}}
    {{#if exists}}
        <div class = "row bottom-space info-panel">
            <center>
                <b>The code <span class = "code">{{bad_code}}</span> already exists in our database.</b>
            </center>
        </div>
    {{/if}}
    <div class = "row bottom-space">
        <span class = "large title">Submit your Public Mobile or Koodo referral code</span>
    </div>
    <div class = "row bottom-space">
        <div class="row">
            <div class = "one-half column">
                <select length = "4444" id = "carrierChooser" class = "u-full-width">
                    {{#each carrier_options}}
                        <option value = "{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                    {{/each}}
                </select>
                <input class="u-full-width" type="text" placeholder="Enter your referral code" id="codeInput">
            </div>
        </div>
        <div class = "row">
            <button id = "submitButton" class = "confirm button">Submit</button>
            <a class = "button" href = "/">Cancel</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('submitButton').addEventListener("click", submit, false);
    document.getElementById('codeInput').addEventListener("keyup", keyUp, false);
    document.getElementById('codeInput').focus();
    function keyUp(event) {
        if (event.keyCode == 13) submit();
    }
    function submit() {
        var code = $("#codeInput").val();
        if (code.length <= 0) return;
        document.getElementById('submitButton').innerHTML = "Please wait...";
        $('#submitButton').attr('href', '#');
        var element = document.getElementById("carrierChooser");
        var selectedValue = element.options[element.selectedIndex].value;
        window.location.replace("/submit?code="+code+"&carrier="+selectedValue);
    }
</script>

