<div class = "container large-top-space">
    <h4>A referral has been sent!</h4>
    <h5>Please add <b>noreply@pmreferrals.ca</b> to your email whitelist.</h5>
    <p>If you do not receive an email after a few minutes, check your spam folder or try again.</p>
    <a href = "/" class = "button">Go home</a>
</div>