<div class = "container large-top-space">
    <div class = "panel bottom-space">
        <h4>Privacy Statement</h4>
        <p>
            As somebody who is very privacy-oriented, I tried to design this site to collect as little information as possible.
            <b>I do not collect any emails, phone numbers or other identifiable information, because I don't need to.</b>
            Below is a summary of the (minimal) information PMReferrals tracks.
        </p>
        <h5>User Information</h5>
        <p>
            When you create an account, the website stores your username and a password hash <b>(not your real password)</b>.
            It also stores some meta data about your account, such as your "boost" score and session ID.
            PMReferrals accounts do not require an email or phone number, and as such cannot be used to identify the user.
        </p>
        <h5>User Activity</h5>
        <p>
            The website maintains an aggregated list of daily statistics regarding the number of codes viewed and submitted, 
            and the times those events occurred. These statistics don't contain any user information.
        </p>
        <h5>Cookies</h5>
        <p>
            This website uses two cookies. One is used to associate your session with a user account (for logging in),
            and the other is to inform the website that you are not a new visitor (for preventing link sharing abuse).
        </p>
        <h5>Tracking and Fingerprinting</h5>
        <p>
            The site logs IPs and browser fingerprint hashes in order to identify whether or not a user has visited the site before.
            This is done only to prevent abuse when people share links back to the site for a reward.
            No unhashed browser data or timestamps are recorded. I'm working on a way to hash the IP addresses without losing the ability to
            verify them independently of the fingerprint hashes.
        </p>
    </div>
</div>