<div class = "container large-top-space">
    <div class = "panel bottom-space">
        <h4>Privacy Statement</h4>
        <p>
            As somebody who is very privacy-oriented, I tried to design this site to collect as little information as possible.
            <b>I do not collect any emails, phone numbers or other identifiable information, because I don't need to.</b>
            Below is a summary of the (minimal) information PMReferrals tracks.
        </p>
        <h5>User Information</h5>
        <p>
            Users are required to register with a username and password. 
            The combination of these are used to authorize the user, but neither are stored on the server.
            PMReferrals accounts do not require personally identifying information such as a phone number or email.
        </p>
        <h5>User Activity</h5>
        <p>
            The website maintains an aggregated list of daily statistics regarding the number of codes viewed and submitted, 
            and the times those events occurred. These statistics don't contain any user information.
        </p>
        <h5>Cookies</h5>
        <p>
            This website uses cookies for the sole purpose of keeping the user logged in as they navigate the site. 
            No other cookies are stored.
        </p>
    </div>
</div>