<div class = "container large-top-space">
    <div class = "row bottom-space">
        <span class = "large title">Good choice!</span>
    </div>
    <div class = "row bottom-space">
        Now just copy the code, or click the link to open the SIM activation page.
    </div>
    <div class = "row bottom-space">
        <span class = "large code censored right-space white">{{code}}</span>
        <a title = "Open activation window" target = "_blank" href = "{{url}}"><img src = "/images/external.png"></img></a>
    </div>
    <div class = "row bottom-space">
        <a class = "button" href = "/">Go back</a>
    </div>
</div>