body {
	font-family: 'Open Sans', sans-serif;
}

.bg-color {
	background: #F4E8D9;
}

.top-space {
	margin-top: 15px;
}

.large-top-space {
	margin-top: 30px;
}

.left-space {
	margin-left: 15px;
}

.bottom-space {
	margin-bottom: 15px;
}

.right-space {
	margin-right: 15px;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
			-moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Opera and Firefox */
}

.clickable {
	cursor: pointer;
}

.card {
	border-radius: 7px;
	border: 2px solid #446a70;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	padding-left: 10px;
	padding-right: 10px;
	background: rgb(236, 211, 180);
	font-family: "Anton", sans-serif;
}

.card:hover {
	background: rgb(235, 199, 155);
}

.title {
	font-family: "Anton", sans-serif;
}

.code {
	font-family: 'PT Mono', monospace;
	font-weight: bold;
}

.xlarge {
	font-size: 48px;
}

.pmblue {
	color: #034045;
}

ul {
	list-style-image: url('/images/verified.png');
}

.censored {
	color: #444;
	background: rgb(129, 116, 100);
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 4px;
	position: relative;
	bottom: 4px;
	font-size: 24px;
}

.panel, .info-panel, .success-panel, .failure-panel {
	background: #fff;
	padding: 10px;
	border-radius: 0px;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}

.shadow {
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}

input[type="text"], select {
	border: 1px solid black;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}

.info-panel {
	background: #efe7a7;
	color: black;
}

.success-panel {
	background: #82db86;
	color: #163816;
}

.failure-panel {
	background: #d14545;
	color: white;
}

.navlink {
	color: yellow;
	font-style: capitalize;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.carrier-icon {
	border-radius: 16px;
	border: 2px solid gray;
	position: relative;
	top:2px;
}

.navlink:hover {
	color: white;
}

button, .button {
	color: black;
	border: 1px solid black;
	-webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.25);
}

button:hover, .button:hover {
	border: 1px solid black;
	background: rgb(236, 211, 180);
	color: black;
}

.confirm {
	color: white;
	background: green;
}

.confirm:hover {
	background: rgb(15, 182, 15);
	color: white;
}

.cancel {
	color: white;
	background: rgb(161, 57, 57);
}

.cancel:hover {
	background:red;
}

.white {
	color: white;
}

.green {
	color: green;
}

.red {
	color: red;
}

.large {
	font-size: 32px;
	padding-top: 0px;
}

.medium {
	font-size: 24px;
	padding-top: 0px;
}

h1, h2, h3, h4, h5 {
	font-family: "Anton", sans-serif;
}

table {
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	padding-left: 10px;
	padding-bottom: 10px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}